@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 37px;
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.navbar .menu ul li {
    display: inline;
    margin-right: 10%;
    font-family: "montserrat", sans-serif;
}

.navbar .menu ul li a {
    color: black;
    text-decoration: none;
}

.main .tulisan {
    font-family: 'poppins', sans-serif;
    font-size: 48px;
    font-weight: 500;
}

.main .tulisan {
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.main .tulisan button {
    background-color: #FB9100;
    color: #FFFFFF;
    padding: 25px 70px;
    font-family: 'poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}