@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 37px;
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.navbar .menu ul li {
    display: inline;
    margin-right: 10%;
    font-family: "montserrat", sans-serif;
}

.navbar .menu ul li a {
    color: black;
    text-decoration: none;
}

.main .tulisan {
    font-family: 'poppins', sans-serif;
    font-size: 48px;
    font-weight: 500;
}

.main .tulisan {
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.main .tulisan button {
    background-color: #FB9100;
    color: #FFFFFF;
    padding: 25px 70px;
    font-family: 'poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 37px;
}
.main{
    margin-top: 8rem ;
}
.main .tulisan{
    margin-left: 40px;
    margin-top: 70px;
}
.main .tulisan p {
    margin: 15px;
}
.main .tulisan img{
    margin-top: 40%;
}
.main .gambar{
    margin-left: 10%;
}
.mangga{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mangga .tulisan2 h1 {
    font-family: "poppins", sans-serif;
    margin-top: 30%;
    margin-left: -35%;
}
.mangga .tulisan2 p {
    font-family: "montserrat", sans-serif;
    margin-top: 10px;
    margin-left: -35%;
}

.ice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 37px;
}

.ice {
    margin-bottom: 8rem;
}

.ice .tulisan3 {
    margin-left: 40px;
    margin-top: 70px;
}

.ice .tulisan3 h1 {
    font-family: 'poppins', sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin-top: 30%;
    margin-right: -35%;
}

.ice .tulisan3 p {
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
    margin: 20px;
    margin-right: -35%;
}

.ice .tulisan3 button {
    background-color: #FB9100;
    color: #FFFFFF;
    padding: 15px 20px;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}
    
.ice .gambar2 .polkaatas {
    width: 10%;
    height: 800px;
    position: absolute;
    padding-left: 350px;
    padding-top: 230px;
}
.ice .gambar2 .eskrim {
    width: 60%;
    height: 800px;
    position: absolute;
    padding-left: 260px;
    padding-top: 100px;
}
.ice .gambar2 .polkabawah {
    width: 60%;
    height: 800px;
    position: absolute;
    padding-left: 110px;
    padding-top: 620px;
}

